@import "../../styles";

#coming-soon{
  text-align: center;
}

@media all and (min-width: $md-device) {
  #coming-soon{
    max-width: 40%;
    height: auto;
    text-align: center;
  }
}

@media all and (max-width: $md-device) {
  #coming-soon {
    margin-top: 25vh;
    margin-bottom: 10vh;
  }
}

.coming-soon-image{
  max-width: 60%;
  height: auto;
  padding-bottom: 3vh;
}
