<div class="flexcontainer center">
  <div id="coming-soon">
    <img src="assets/images/logo.png">
    <p>COMING SOON</p>
    <a href="https://www.facebook.com/djscrib06/" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/djscrib06" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="https://twitter.com/djscrib06" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <i class="fa fa-snapchat"></i>
    <a href="https://www.mixcloud.com/DJSCrib06/" target="_blank">
      <i class="fa fa-mixcloud"></i>
    </a>
  </div>
</div>

